*{
  box-sizing: border-box;
}
.ul{
  list-style: none;
}
.t-dark{
  color: #312828 ;
}
a{
  text-decoration: none;
  color: #a4a4a4;
}
a:hover{
  color: #7ca740;
}
.zoom {
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
}
.zoom:hover {
  transform: scale(1.1,1.1);
  -webkit-transform: scale(1.1,1.1);
  -moz-transform: scale(1.1,1.1);
  -o-transform: scale(1.1,1.1);
  -ms-transform: scale(1.1,1.1);
}

/* cart */
.cart{
  position: relative;
  z-index: 2;
  width: 26px;
  height: 26px;
  border: 3px solid #cbba9c;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 14px;
  color: #cbba9c;
}
.o {
  position: absolute;
  z-index: 1;
  top: -9px;
  left: 4px;
  width: 14px;
  height: 9px;
  border: 3px solid #cbba9c;
  border-radius: 50% 50% 0 0 / 100% 100% 0 0;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom: 0;
}
.cart:hover .o{
  top: -10px;
}
.cart:hover{
  background-color: #cbba9c ;
  color: #fff;
}
.row{
  margin: 0 !important;
  --bs-gutter-x: 0;
}
/* header */
.form-control {
  /* width: auto; */
  display: inline;
}
.navbar-nav-scroll {
  max-height: 300px;
}
.navbar.top{
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  z-index: 4;
}
.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}

/* messenger */
.messenger{ 
  position: fixed;
  top: 30%;
  right: 0px;
  z-index: 1;
}
.box-call{
  display: none;
}
.in-call{
  display: none;
}
@media (max-width: 500px) {
  .call{
    position: fixed !important;
    display: block;
    bottom: 0px;
    left: 0px;
    width: 140px;
    height: 140px;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .box-call{
    position: fixed !important;
    display: block;
    bottom: 0px;
    left: 0px;
    border: 2px solid #cc9a00;
    border-radius: 50%;
    width: 140px;
    height: 140px;
    z-index: 3;
    
  }
  .in-call{
    background-color: rgba(204, 153, 0, 0.4) ;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .box-call i{
   border-radius: 50%;
  }
}

.back-to-top {
  position: fixed !important;
  bottom: 50px;
  right: 15px;
  display: none;
  width: 50px;
  height: 50px;
  line-height: 44px;
  text-align: center;
  border-radius: 50%;
  border:2px solid rgb(59, 41, 41);
  color: rgb(59, 41, 41);
  font-size: 17px;
  z-index: 3;
  transition: all ease 0.5s;
}
.back-to-top:hover{
  background-color: #c4a56f;
}
.back-to-top.active {
  display: block;
}
/* gioi thieu */
.bg-gioithieu{
  background-image: url(./images/gioithieu/header-gioithieu.jpg);
  background-position: 50% 50%;
  width: 100%;
  height: 180px;
}
.icon-logo{
  position: relative;
  padding: 30px;
}
.icon-logo:before {
  position: absolute;
  bottom: 0.75rem;
  content: '';
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 2px;
  background: linear-gradient(to right,#76a03f 0%,#76a03f 25%,rgba(255,255,255,0) 25%,rgba(255,255,255,0) 75%,#76a03f 75%);
}
.icon-logo:after {
  position: absolute;
  bottom: 0;
  content: '\f296';
  font-family: FontAwesome;
  left: 50%;
  transform: translateX(-50%);
  font-size: 23px;
  line-height: 1;
  color: #76a03f;
}
/* slider */
.slick-next {
  right: 20px !important;
  z-index: 2;
}
.slick-prev {
  left: 20px !important;
  z-index: 2;
}
.slick-prev, .slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: red !important;
  border: none;
  outline: none;
}
.mua-ngay{
  border: 2px solid #cbba9c;
}
.mua-ngay:hover{
  background-color:  #cbba9c;
  color: #fff
}
.slider1{
  background-image: url(./images/sliders/slider1.jpg);
  position: relative;
}
.slider1-text{
  position: absolute;
  width: 500px;
  top: 33%;
  left: 15%;
  border-left: 2px solid #cbba9c;
}
.slider1-btn{
  position: absolute;
  top: 60%;
  left: 15%;
}
.slider2{
  background-image: url(./images/sliders/slider2.jpg);
  position: relative;
}
.slider2-text {
  position: absolute;
  width: 50%;
  bottom: 10%;
  right: 0%;
  border-left: 2px solid #cbba9c;
}
/* more */
.more1{
  background-image: url(./images/sliders/more1.jpg);
  height: 450px;
  position: relative;
}
.more1:hover{
  background-size: 105%;
  background-position: 100% ;
  transition: all 1s ease;
  background-repeat: no-repeat;
}
.more1-text{
  position: absolute;
  bottom: 10%;
  right: 0%;
  text-align: left;
}
.more2{
  background-image: url(./images/sliders/more2.jpg);
  position: relative;
  height: 225px;
}
.more2:hover{
  background-size: 105%;
  background-position: 100% ;
  transition: all 1s ease;
  background-repeat: no-repeat;
}
.more2-text{
  position: absolute;
  top: 30%;
  right: 0;
  left: 0;
  text-align: center;
}
.more2-1{
  background-image: url(./images/sliders/more2-1.jpg);
  height: 225px;
}
.more2-1:hover{
  background-size: 105%;
  background-position: 100% ;
  transition: all 1s ease;
  background-repeat: no-repeat;
}
.more3{
  background-image: url(./images/sliders/more3.jpg);
  height: 450px;
  position: relative;
}
.more3:hover{
  background-size: 105%;
  background-position: 100% ;
  transition: all 1s ease;
  background-repeat: no-repeat;
}
.more3-text{
  position: absolute;
  bottom: 10%;
  right: 0%;
  text-align: left;
}
/* product */
.product-item{
  position: relative;
}
.product-item .cart{
  position: absolute;
  left: 10px;
  bottom: 50px;
  display: none;
}
.product-item:hover .cart{
  display: block;
}
.sale-off{
  position: absolute;
  top: 5%;
  left: -10px;
  width: 40px;
  height: 40px;
  z-index: 2;
  line-height: 40px;
  background-color: #d26e4b;
  border-radius: 50%;
}

.product-item:hover {
  box-shadow: 0px 20px 35px 30px rgb(0 0 0 / 30%);
  padding-bottom: 30px;
}
/* slider product */
.product_meta>span {
  display: block;
  border-top: 1px dotted #ddd;
  padding: 5px 0;
}
.doc-tiep a{
  background-color: #8a7e69;
  color: #fff;

}
.doc-tiep a:hover{
  color: #fff;
  background-color: #584a31;
  border-color: rgba(0,0,0,0.05); 
}
/* blog */

.img-blog img{
  width: 375px;
  height: 300px;
}
/* footer */
.text-f{
  color: #a4a4a4;
}
.p-70{
  padding: 70px;
}
.bg-f{
  background-image: url(./images/footer/bg-f.jpg);
  background-position: 50% 50%;
  background-size: cover !important;
  opacity: 1;
}
nav i{
  color: #cbba9c;
}
.copyright-f{
  background-color: #000;
  padding: 15px 0px;
}
.icon-social{
  display: block;
  width: 23px;
  height: 23px;
}

/* hot */
/* .hot .product-item {
  width: 280px;
  height: 300px;
} */
.hot .product-item:hover {
  box-shadow: 0px 10px 20px 10px rgb(0 0 0 / 30%);
  padding-bottom: 10px;
}
.nav-hot.navbar>.container-fluid{
  justify-content: flex-end;
}
/* lien he */
.form-ct {
  width: 780px;
  margin: 0 auto;
  max-width: 100%;
}
.form-ct .form-row {
  padding: 5px;
  float: left;
  width: 100%;
  margin-bottom: 0;
}
.form-ct .form-row.w50 {
  width: 50%;
}
.form-ct input,
.form-ct textarea{
  margin-bottom: 0;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0);
}
.form-ct .center-txt {
  text-align: center;
}
.form-ct .center-txt input{
  min-width: 50%;
}
.form-ct .wpcf7-form-control:focus {
  border-color: #f8b742;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(248, 183, 66, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(248, 183, 66, 0.6);
}

/* boostrap */
@media (min-width:800px) {
  .navbar-light .navbar-nav .nav-link.active, 
  .navbar-light .navbar-nav .show>.nav-link {
    color: #fff;
  }
  .navbar {
    background-color: #000;
  }
  li.t{
    position: relative;
  }
  li.t::before{
    position: absolute;
    content: "";
    top: 30%;
    left: 0px;
    width: 2px;
    height: 20px;
    background-color: #856a6a;
    z-index: 2;
  }
  li.t::before:first-child{
    display: none;
 }
  .gach{
    position: relative;
  }
  .gach::after{
    position: absolute;
    content: "";
    top: 25%;
    right: 0px;
    width: 2px;
    height: 20px;
    background-color: #856a6a;
    z-index: 2;

  }
}
@media (max-width:800px) {
  .navbar-nav-scroll {
    width: 80%;
  }
}
.w-90{
  width: 90%;
}